<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<h3>Dear <%= user.name %>,</h3>
<br>
<p>Your password reset key is: </p>
<br>
<span>
    <%= user.secretCode %>
</span>
<br>
<p>
    please click on the following link to get to the password reset page:
    <a href="<%= host %>/auth/auth/reset-password?id=<%= user.resetId %>"><%= host %>/auth/auth/reset-password?id=<%= user.resetId %></a>
</p>
</body>
</html>